/* utilities */
:root {
    --dark-blue: #051E34;
    --blue: #1B72E8;
    --light-grey: #F8F9FA;
}






/* skeleton */ 
.header {
    width: 60px;
    flex-shrink: 0;
    background-image: url('../img/sidebar-bg.png');
    background-color: var(--dark-blue);
}

.app {
    height: 100vh;
    overflow: hidden;
}

.app_container {
    overflow: hidden;

}

.aside {
    background-color: var(--light-grey);
}




/* header */
.header_buttons {
    width: 20px;
}

.header_buttons-text {
    display: none;
}








/* media */
@media (min-width: 576px) {}

@media (min-width: 768px) {
    .header_buttons-text {
        display: block;
    }

    .header {
        width: 150px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}













/* DEBUG */
.debug .app {
    border: 3px dashed red;
    padding: 30px;
}

.debug .aside {
    border: 3px dashed blue;
    padding: 30px;
}

.debug .app_container {
    border: 3px dashed green;
    padding: 30px;
}

.debu .header {
    border: 3px dashed yellow;
    padding: 30px;
}

.debug .app__content {
    border: 3px dashed black;
    padding: 30px;
}
