/* utilities */
:root {
  --dark-blue: #051E34;
  --blue: #1B72E8;
  --not-so-dark-blue: #165BBA;
  --light-grey: #F8F9FA;
  --gold: #FFAD45;
}

img {
  max-width: 100%;
}

ul,
ol,
menu {
  list-style: none;
  display: flex;
  flex-direction: row;
}





/* skeleton */
.header {
  width: 70px;
  flex-shrink: 0;
  background-image: url('../img/sidebar-bg.png');
  background-color: var(--dark-blue);
  overflow: hidden;
}

.app {
  height: 100vh;
  overflow: hidden;
}

.app_container {
  overflow: hidden;

}

.aside {
  background-color: var(--light-grey);
}

.app__content {
  overflow: auto;
}





/* header */
.header_buttons {
  width: 20px;
}

.header_buttons-text {
  display: none;
}





/* aside */
.logo-sm {
  max-width: 45px;
}

.logo-lg {
  display: none;
}

.bell {
  color: var(--gold);
}






/* app-content */
.app__content {
  background-color: var(--light-grey);
}





/* hero */
.hero {
  background-color: var(--blue);
}

.hero-badge {
  background-color: var(--not-so-dark-blue);
  font-size: 15px;
}

.plus-button {
  border: 1px solid currentColor;
}

/* prossime classi */
.avatar-img {
  width: 25px;
}

.roi{
  width: 10px;
}

.stato {
  width: 10%;
}

.status-icons {
  border: 1px solid grey;
  border-radius: 20%;
  padding: 3px;
  
}





/* media */
@media (min-width: 576px) {}

@media (min-width: 768px) {
 

 

}

@media (min-width: 992px) {
  .header_buttons-text {
    display: block;
  }
  .logo-sm {
    display: none;
  }

  .logo-lg {
    display: block;
  }
  .header {
    width: 170px;
  }
}

@media (min-width: 1200px) {

  

 
}

@media (min-width: 1400px) {
  
}

